# E6

## Import libs

In [ ]:
import pandas as pd
import tabulate

import matplotlib.pyplot as plt
import seaborn as sns

## Import de dados

In [2]:
data = pd.read_csv('./data/data.csv', sep =';', decimal = '.')
data.head()

   anel     m1     m2     m3     d1     d2     d3     d4 operador
0     1  1.121  1.120  1.120  20.33  19.73  20.30  20.37    ponge
1     2  1.111  1.109  1.110  20.27  19.87  20.08  20.02    ponge
2     3  1.132  1.130  1.131  19.77  19.28  19.84  19.86    ponge
3     4  1.119  1.119  1.118  20.21  20.03  20.13  19.97    ponge
4     5  1.139  1.138  1.137  20.41  20.19  20.36  20.46    ponge

In [3]:
diam = pd.read_csv('./data/diam.csv')
diam.head()

   diam
0  20.0
1  17.0
2  19.3
3  21.7
4  19.0

### Item a

Do desenho t√©cnico, temos:

In [16]:
USL = 21.
LSL = 19.

### Item b

In [17]:
diam['NC'] = diam['diam'].apply(lambda x: True if (x<LSL or x>USL) else False)

In [18]:
1 - diam['NC'].sum() / 120

0.2833333333333333

In [19]:
diam['NC'].sum()

86

### Item c

In [14]:
x_bar = diam['diam'].mean()
sigma_LT = (diam['diam'].apply(lambda x: (x - x_bar)**2).sum()) / (120 - 1)

In [15]:
sigma_LT

3.0674125980392164

### Item d

In [21]:
P_p = (USL - LSL)/(6*sigma_LT)
P_pkU = (USL - x_bar)/(3*sigma_LT)
P_pkL = (x_bar - LSL)/(3*sigma_LT)
P_pk = min(P_pkU, P_pkL)

In [22]:
print(
P_p,
P_pkU,
P_pkL,
P_pk
)

0.1086692196369051 -0.07759887858905308 0.29493731786286326 -0.07759887858905308

### Item e